// 大小规范
$window-min-width: 1150px;
$nav-max-width: 1600px;
$home-content-width: 1152px;

// 字体颜色
$nav-font-5f6163: #5f6163;
$nav-active-font-111: #111;
$font-2f2e34: #2f2e34;
$font-7abfff: #7abfff;
$font-4dadff: #4dadff;
$font-f0304f: #f0304f;
$font-666: #666;

$color-fff: #fff;
$color-dfe1e2: #dfe1e2;

// 字体大小
$font-size-xxlarge: 28px;
$font-size-xxlarge: 26px;
$font-size-xlarge: 24px;
$font-size-large: 22px;
$font-size-medium: 20px;
$font-size-small: 18px;
$font-size-xsmall: 16px;
$font-size-xxsmall: 14px;
$font-size-xxxsmall: 12px;

// 阴影颜色
$box-shadow-d3d4d7: #d3d4d7;
$box-shadow-eeeff0: #eeeff0;
$box-shadow-dcdfe5: #dcdfe5;

// 背景颜色
$backgroundColor-fff: #fff;
$backgroundColor-f5f6f7: #f5f6f7;
$backgroundColor-e91b47: #e91b47;
$backgroundColor-ff6262: #ff6262;
$backgroundColor-faaa1f: #faaa1f;
$backgroundColor-ffd24a: #ffd24a;
$backgroundColor-edeef0: #edeef0;
$backgroundColor-f7f8fa: #f7f8fa;
$backgroundColor-00003: rgba(255, 255, 255, 0.2);
